body{
    position: relative;
    margin: 0;
    background: url('asset/svg/main_wave.svg');
    width: 100%;
    background-position: 50% 50%;
    height: 2160px;
}
footer{
    bottom: 0;
    width: 100%;
    height: 200px;
    position: absolute; 
}
.rounded{
    border-radius: 30px !important;
    width: 200px;
}
.content{
    background: url('asset/svg/side_weve.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.rounded:hover{
    background: #f8fc81;

}
.row p{
    line-height: 35px;
}
.atas{
   background: url('asset/img/1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 999;
   width: 100%;
   height: 900px;
   background-attachment: fixed;
}
.pertemuan{
    margin-top: 230px;
}
.pertemuan img{
    border-radius: 10px;
}
.prev, .next {
    background: yellow;
    position: absolute;
    width: 50px;
    height: 60px;
    top: 220px;
    border: none;
    cursor: pointer;
    transition: all .25s;
    font-weight: bold;
  }
.prev{
    float: left;
    left: 0;
}
.back-to-top{
    border-radius: 999px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    padding: 9px;
    right: 15px; 
    bottom: 25px; 
    z-index: 999;
    cursor: pointer;
    color: gray;
    display: inline-block;
}
.back-to-top:hover{
    background: white !important;
    box-shadow: 0px 0px 5px #999;
}
.mycard{
    border: none;
    border-radius: 10px;
}
.next{
    float: right;
    right: 0;
}
@media only screen and (max-width: 600px) {
    .prev, .next {
        background: yellow;
        position: absolute;
        width: 50px;
        height: 60px;
        top: 130px;
        border: none;
        cursor: pointer;
        transition: all .25s;
        font-weight: bold;
      }
  }
